<div class="d-flex flex-column flex-md-row min-vh-100 p-0 ">
  <nav
    class="sidebar d-flex flex-column p-3 bg-light  border-end offcanvas-md offcanvas-left " 
    tabindex="-1" 
    id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel"
  >

    <div class="d-flex justify-content-between align-items-center mb-1 mt-2">
      <a routerLink="/dashboard" class="d-flex align-items-center text-decoration-none text-dark">
        <img src="assets/images/logo.png" alt="Logo" class="img-fluid" style="max-width: 120px;">
      </a>
      <button
        type="button"
        class="btn-close d-md-none"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>

    <hr class="d-none d-md-block">

    <button class="btn btn-md fs-6 text-center button mb-3 w-100 mt-4">
      Create New Chats
    </button>

    <div class="history mt-4 d-flex justify-content-between align-items-center">
      <button class="fw-bold">Chats History</button>
      <button>See More</button>
    </div>

    <div class="scrollable-chats text mt-4 overflow-auto flex-grow-1">
  
      <p>Today</p>
      <ul class="list-unstyled">
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who is Elon Musk?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who are you?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
      </ul>
       <p>7 Days</p>
      <ul class="list-unstyled">
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dotstext-body"></i>
          <span>Who is Elon Musk?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who are you?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
      </ul>
       <p>7 Days</p>
      <ul class="list-unstyled">
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who is Elon Musk?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who are you?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
      </ul>
       <p>30 Days</p>
      <ul class="list-unstyled">
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who is Elon Musk?</span>
          <i class="bi bi-trashtext-body"></i>
        </li>
        <li class="chat-item d-flex justify-content-between align-items-center py-2 px-3 mb-2">
          <i class="bi bi-chat-square-dots text-body"></i>
          <span>Who are you?</span>
          <i class="bi bi-trash text-body"></i>
        </li>
      </ul>
    </div>

    <hr class="mt-auto">

    <div class="d-flex gap-3 flex-wrap">
      <div>
        <img src="assets/images/account.png" alt="" width="38px" height="38px">
      </div>
      <div class="mt-2 m-2">
        <h6 class="mb-1">John Doe</h6>
      
      </div>
      <i
        class="bi bi-box-arrow-left fw-bold logout-icon fs-4 p-1"
        (click)="logout()"
        style="cursor:pointer; line-height: 1.5; color: rgba(64, 64, 64, 1);"
      ></i>
    </div>
  </nav>


  <div class="flex-grow-1 bg-body p-3 p-md-5">
  
    <button
      class="btn btn-warning text-white d-md-none mb-3"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
    >
      <i class="bi bi-list"></i> Menu
    </button>

    <div class="card rounded-3 overflow-hidden h-100 ">
      <div class="card-body d-flex flex-column bg-body ">
        <div #scrollMe class="flex-fill overflow-auto p-4 position-relative">
          <div *ngIf="showPlaceholder" class="placeholder-text text-center">
            <h3 class="fw-bold mb-2">Hello <span class="text-warning">Taqal!</span></h3>
            <p class="mb-0" [innerHTML]="messages[0].text"></p>
          </div>

          <div *ngFor="let msg of messages; let i = index">
            <div
              *ngIf="!(messages.length === 1 && messages[0].sender === 'bot')"
              [ngClass]="{'text-end': msg.sender === 'user', 'text-start': msg.sender === 'bot'}"
              class="my-2"
            >
              <span [ngClass]="msg.sender" class="message-bubble">
                {{ msg.text }}
              </span>
            </div>
          </div>
        </div>

        <div class="bg-body p-3">
          <form class="d-flex" (ngSubmit)="sendMessage()">
            <input type="file" id="fileUpload" hidden>
            <label for="fileUpload" class="btn b border me-2 textbutton ">
              <i class="bi bi-paperclip fs-5 rotate-clip"></i>
            </label>
            <input
              type="text"
              class="form-control me-2 py-2"
              placeholder="Ask Taqal anything..."
              [(ngModel)]="userMessage"
              name="message"
              required
            />
            <button class="btn me-2 textbutton" type="submit">
              <i class="bi bi-mic-fill"></i>
            </button>
            <button class="btn btn-warning" type="submit">
              <i class="bi bi-send-fill text-white fw-bold rotate"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>
