
.top {
  background: linear-gradient(90deg, #FBCE47 0%, #F6A311 98.53%);
  border-radius: 16px;
  height: 118px;
  padding-top: 21px;
  font-weight: 400;
  color:  rgba(93, 93, 93, 1);


  
}


.layout{
margin: 5px;
padding: 5px;
display: flex;
justify-content: space-between;


}

.button{
    margin-right: 12px;
background: rgba(57, 57, 57, 0.08);
border-radius: 8px;
border-color:rgba(57, 57, 57, 0.08) ;
color:  rgba(63, 63, 63, 1);
font-weight: bold;
  padding: 9px 40px; 
}
.upload-box {
  border: 2px dashed #f6c344;
  background-color: #fff8e1;
  transition: 0.3s ease;
}

.upload-box:hover {
  background-color: #fff3cd;
  border-color: #f0ad4e;
  cursor: pointer;
}

.btn-warning {
  background-color: #f6c344;
  border: none;
}

.btn-warning:hover {
  background-color: #f5b700;
}

.form-select {
  border-radius: 10px;
}

.form-control:focus{
  border-color: none;
  box-shadow: none;
   border: 1.4px solid rgba(227, 227, 227, 1);
}
